# System files
.DS_Store
**/.DS_Store

# Frontend
frontend/public/cesium/
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/.env
# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/*.egg-info/
